.wrapper {
  display: flex;
  flex-direction: column;
}

.start{
  margin-top: 50px;
  align-self: center;
  width: 300px;
  height: 100px;
  font-size: 1.7em;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-weight: bold;
  background-color: red;
  border-color: white;
  border-radius: 10px;
}

.timer{ 
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
}

.pokeWrap{
  align-self: flex-start;
  margin-top: -100px;
  margin-left: 18vw;
}

.pokeImg {
  width: 500px;
  filter: contrast(1);
  animation: dropOut  12s;
}
@keyframes dropOut {
    0% {filter: contrast(0);}
    40%{}
    50%{}
    90%{filter: contrast(0);}
    100% {filter: contrast(1);}
 }

.pokeName {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  margin-top: -50px;
  animation: dropOut2 12s;
}
@keyframes dropOut2 {
  0% {opacity: 0;}
  40%{}
  50%{}
  90%{opacity: 0;}
  100% {opacity: 1;}
}

.count {
  animation: dropCount .5s;
}

@keyframes dropCount {
  0% {opacity: 0;}
  5%{}
  50%{opacity: 0;}
  90%{opacity: .5;}
  100% {opacity: 1;}
}
